@font-face {
  font-family: "CaskaydiaCove Nerd Font";
  src: local("Caskaydia Cove"), url("ttf/CaskaydiaCove-SemiBold.ttf");
}

:root {
  --bg: #1e1e2e;
  --fg: #cdd6f4;
  --black: #181825;
  --red: #f5e0dc;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --blue: #89b4fa;
  --purple: #b4befe;
  --cyan: #89dceb;
  --light-gray: #9399b2;
  --gray: #585b70;
}

html {
  font-family: "CaskaydiaCove Nerd Font";
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  /* background-size: cover; */
  /* background-position: center; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.status-bar {
  font-size: x-small;
  height: 3vh;
  padding: 0;
  margin-bottom: 1vh;
}

.shortcuts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 2vh;
}

.shortcuts {
  width: fit-content;
  margin: 0 0;
  padding: 0;
}

.shortcuts:first-child {
  font-weight: 900;
}

.shortcut {
  text-decoration: none;
  color: var(--fg);
}

.shortcut:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.pad-terminal {
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 95vh;
}

.scrollable {
  height: 95vh;
  overflow: auto;
  box-sizing: border-box;
  border: 3px solid var(--red);
  border-radius: 15px;
}

#terminal {
  min-height: 100%;
  /* line-height: 0.5rem; */
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgba(21, 22, 30, 0.9);
  border: 1px hidden var(--fg);
  border-radius: 15px;
  text-align: left;
}

#terminal p {
  margin: 2px;
}

.prompt {
  display: flex;
}

.green {
  color: var(--green);
}

.cyan {
  color: var(--cyan);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.light-gray {
  color: var(--light-gray);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

#input {
  width: 100%;
  outline: none;
  background-color: transparent;
  font: inherit;
  border: none;
  color: inherit;
}

.shortcuts p {
  font-weight: normal;
}

.shortcuts-container .shortcuts p.bold {
  font-weight: bolder;
}
